@import url('https://rsms.me/inter/inter.css');

//@font-face {
//    font-family: 'HelveticaNeueLTStd';
//    src: url('../fonts/HelveticaNeueLTStd-Bd.eot?#iefix') format('embedded-opentype'), url('../fonts/HelveticaNeueLTStd-Bd.otf') format('opentype'),
//    url('../fonts/HelveticaNeueLTStd-Bd.woff') format('woff'), url('../fonts/HelveticaNeueLTStd-Bd.ttf') format('truetype'), url('../fonts/HelveticaNeueLTStd-Bd.svg#HelveticaNeueLTStd-Bd') format('svg');
//    font-weight: bold;
//    font-style: normal;
//}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

::selection {
    background-color: $danger;
    color: #fff;
}

// Titles
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 {
    font-weight: bold;
    margin-bottom: .6em;

    span {
        color: $dark;
        //display: block;
    }
}


h1, .h1 {
    @include font-size(42px);
    line-height: 1.286em;
}

h2, .h2 {
    @include font-size(38px);
    line-height: 1.211em;
}

h3, .h3 {
    @include font-size(24px);
}

h4, .h4 {
}

h5, .h5 {
}

h6, .h6 {
}

// Paragraphs
p, .p {
    @include font-size(18px);
    line-height: 1.556em;

    a:not(.btn) { // Increase clickable area on links / http://joshnh.com/2012/09/06/increasing-the-clickable-area-of-inline-links/
        margin: -.5em;
        padding: .5em;
        position: relative;
    }
}
