#app {}

.app-header {
    .navbar-nav {
        .nav-item {
            &.active {
                .nav-link {
                    color: $black;
                    text-decoration: underline;
                }
            }

            .nav-link {
                color: $success;
            }
        }
    }
}

.app-body {}

.app-footer {
    background-color: $gray-200;
}
