#app {}

.app-header {
    .navbar-nav {
        .nav-item {
            &.active {
                .nav-link {
                    color: $black;
                    text-decoration: underline;
                }
            }

            .nav-link {
                color: $success;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

.app-body {
    section {
        padding-bottom: 60px;
        padding-top: 60px;
    }

    .section-spacer {
        height: 120px;
    }

    .card-deck {
        margin-bottom: 2em;
    }
}

.app-footer {
    background-color: $gray-200;
}
