<div class="container">
    <div class="row">
        <div class="col text-center">
            <p>
                ❤️ Made with love to beat Covid-19
            </p>

            <p>
                Contact - <a href="mailto:info@covid-solidarity.org">info@covid-solidarity.org</a> <br>
                <a class="link-facebook" href="#">Join the movement on Facebook</a>
            </p>
        </div>
    </div>
</div>
