<meta property="og:image:height" content="304">
<meta property="og:image:width" content="580">
<meta property="og:title" content="Envie de donner un coup de main &agrave; votre voisin?">
<meta property="og:description" content="Rejoignez notre mouvement et proposez &agrave; votre voisin de faire ses courses de premi&egrave;re n&eacute;cessit&eacute;.
">
<meta property="og:url" content="http://www.covid-solidarity.org">
<meta property="og:image" content="http://www.covid-solidarity.org/assets/img/og-image.jpg">