<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Covid-19 solidarity</title>
  <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/app.css">
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="theme-color" content="#ffffff">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-160690896-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-160690896-1');
  </script>
</head>
<body>
<div id="app">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/"><img src="/assets/img/logo.svg" alt="covid-19 solidarity logo"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="my-2 my-lg-0" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">FR</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/nl">NL</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/en">EN</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>

  <header class="container container-white container-header">
    <section class="col-xs-6">
      <div class="container-text">
        <h1 id="headerTitle">Envie de donner un coup de main à votre voisin ?</h1>
        <p id="headerDescription">
          Rejoignez notre mouvement et proposez à votre voisin
          de faire ses courses de première nécessité.
        </p>
      </div>
      <div class="header-container-button">
        <a href="#help" class="button button-green df-center" id="headerButtonRequestHelp">Besoin d’aide? Cliquez
          ici</a>
        <a href="#help" class="button button-white df-center" id="headerButtonProposeHelp">J’aimerais aider</a>
      </div>
    </section>
    <section class="df-center header-img-container">
      <img src="/assets/img/header-pic.png" class="header-img" alt="applicant opening the door">
    </section>
  </header>

  <main class="container">

    <section class="container df-center">
      <h2>Répandons la solidarité, pas le virus</h2>
      <p>Pour endiguer rapidement la propagation du virus, le gouvernement et le milieu médical recommandent fortement à la population de rester à domicile. Mais comment faire pour s’alimenter et se fournir en produits de première nécessité tout en restant chez soi ?
      </p>
    </section>

    <!-- APPLICANTS -->
    <div id="help" class="card">
      <div class="card-header">
        <img src="/assets/img/applicant.png" alt="applicant">
        <p class="card-header-txt" id="cardSeniorQuote">« J’ai besoin d’aide »</p>
      </div>
      <h2 id="cardSeniorTitle">Quelles étapes faut-il suivre pour se faire aider ?</h2>
      <ol class="card-txt">
        <li><b>1.</b><span id="cardsSeniorStepsStepOne"> Inscrivez-vous à travers notre formulaire.</span></li>
        <li><b>2.</b> <span id="cardsSeniorStepsStepTwo">On vous rappelle au plus vite pour passer votre
                        commande.</span></li>
        <li><b>3.</b> <span id="cardsSeniorStepsStepThree">Un jeune aidant dans votre quartier ira faire les
                        courses pour vous. Il déposera les courses
                        devant chez vous et vous enverra un SMS à l’arrivée.</span></li>
      </ol>
      <button class="button button-green df-center" id="cardsSeniorButton">Besoin d’aide? Cliquez ici</button>
    </div>

    <!-- HEROES -->
    <div class="card">
      <div class="card-header">
        <img src="/assets/img/hero.png" alt="hero">
        <p class="card-header-txt" id="cardsYoungQuote">« Je veux fournir de l'aide »</p>
      </div>
      <h2 id="cardsYoungTitle">Informations concernant l’aide aux personnes en besoin</h2>
      <ol class="card-txt">
        <li>
          <h3 id="cardsYoungSetpsStepOneTitle">1.Pourquoi est-ce que je voudrais aider ?</h3>
          <p id="cardsYoungSetpsStepOneText">
            Tu as un peu de temps ? Des personnes sont en besoin, c’est l’occasion de les aider! Ensemble,
            on
            peut battre le covid-19.
          </p>
        </li>
        <li>
          <h3 id="cardsYoungSetpsStepTwoTitle">2. Comment est-ce que ça se passe pour aider ?</h3>
          <p id="cardsYoungSetpsStepTwoText">
            Pas besoin de beaucoup de temps ou de permis de conduire, il suffit de remplir le formulaire et
            de respecter quelques règles d’hygiène !
          </p>
        </li>

      </ol>
      <button class="button button-white df-center" id="cardsYoungButton">Je veux aider</button>
    </div>
  </main>

  <section class="container container-white df-center team">
    <h2 id="teamTitle">Qui sommes-nous?</h2>
    <p id="teamDescription">
      Une communauté d'entrepreneurs et professionnels #tech désireux d’apporter leur aide rapide via la
      technologie. Un mouvement non-lucratif qui permet de créer du lien social dans une démarche de calme et de
      bienveillance.
    </p>
    <div>
      <img src="..." alt="..." class="rounded">
    </div>
  </section>



  <footer class="text-center">
    <p>
      ❤️ Made with love to beat Covid-19
    </p>
  </footer>
</div>
<script src="/assets/js/app.js"></script>
</body>
</html>