<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Covid-19 solidarity</title>
  <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/app.css">
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="theme-color" content="#ffffff">
</head>
<body>
<div id="app">
  <nav>
    <img src="/assets/img/logo.svg" alt="covid-19 solidarity logo">
    <a href="/" id="button-fr" class="button-language" onclick="changeLanguage('fr')">FR</a>
    <a href="/nl" id="button-nl" class="button-language" onclick="changeLanguage('nl')">NL</a>
    <a href="/en" id="button-en" class="button-language" onclick="changeLanguage('en')">EN</a>
  </nav>

  <header class="container container-white container-header">
    <section class="df-center container-txt-general">
      <div class="container-text">
        <h1 id="headerTitle">Seul(e) et besoin de livraison à domicile?</h1>
        <p id="headerDescription">
          Durant cette crise de covid-19, Covid Solidarity fait
          appel à des jeunes bénévoles pour venir en aide à des
          personnes en besoin.
        </p>
      </div>
      <div class="header-container-button">
        <a href="#help" class="button button-green df-center" id="headerButtonRequestHelp">Besoin d’aide? Cliquez
          ici</a>
        <a href="#help" class="button button-white df-center" id="headerButtonProposeHelp">J’aimerais aider</a>
      </div>
    </section>
    <section class="df-center header-img-container">
      <img src="/assets/img/header-pic.png" class="header-img" alt="applicant opening the door">
    </section>
  </header>

  <main class="container">

    <section class="container df-center">
      <h2>Répandez la solidarité, pas le virus!</h2>
      <p>Face à l’épidémie de Covid-19, l’une des approches pour éviter la propagation est l’isolement. Mais comment faire pour s’alimenter et se fournir en produits de base en évitant de sortir de chez soi, l’option d’entraide à la livraison à domicile chez Covid solidarity nous a sembler la solution pour les personnes seules ou dans le besoin.
        Covid solidarity veut aider les personnes... </p>
    </section>

    <!-- APPLICANTS -->
    <div id="help" class="card">
      <div class="card-header">
        <img src="/assets/img/applicant.png" alt="applicant">
        <p class="card-header-txt" id="cardSeniorQuote">« J’ai besoin d’aide »</p>
      </div>
      <h2 id="cardSeniorTitle">Quelles étapes faut-il suivre pour se faire aider ?</h2>
      <ol class="card-txt">
        <li><b>1.</b><span id="cardsSeniorStepsStepOne"> Inscrivez-vous à travers notre formulaire.</span></li>
        <li><b>2.</b> <span id="cardsSeniorStepsStepTwo">On vous rappelle au plus vite pour passer votre
                        commande.</span></li>
        <li><b>3.</b> <span id="cardsSeniorStepsStepThree">Un jeune aidant dans votre quartier ira faire les
                        courses pour vous. Il déposera les courses
                        devant chez vous et vous enverra un SMS à l’arrivée.</span></li>
      </ol>
      <button class="button button-green df-center" id="cardsSeniorButton">Besoin d’aide? Cliquez ici</button>
    </div>

    <!-- HEROES -->
    <div class="card">
      <div class="card-header">
        <img src="/assets/img/hero.png" alt="hero">
        <p class="card-header-txt" id="cardsYoungQuote">« Je veux fournir de l'aide »</p>
      </div>
      <h2 id="cardsYoungTitle">Informations concernant l’aide aux personnes en besoin</h2>
      <ol class="card-txt">
        <li>
          <h3 id="cardsYoungSetpsStepOneTitle">1.Pourquoi est-ce que je voudrais aider ?</h3>
          <p id="cardsYoungSetpsStepOneText">
            Tu as un peu de temps ? Des personnes sont en besoin, c’est l’occasion de les aider! Ensemble,
            on
            peut battre le covid-19.
          </p>
        </li>
        <li>
          <h3 id="cardsYoungSetpsStepTwoTitle">2. Comment est-ce que ça se passe pour aider ?</h3>
          <p id="cardsYoungSetpsStepTwoText">
            Pas besoin de beaucoup de temps ou de permis de conduire, il suffit de remplir le formulaire et
            de respecter quelques règles d’hygiène !
          </p>
        </li>

      </ol>
      <button class="button button-white df-center" id="cardsYoungButton">Je veux aider</button>
    </div>
  </main>

  <section class="container container-white df-center team">
    <h2 id="teamTitle">Qui sommes-nous?</h2>
    <p id="teamDescription">
      Une communauté d'entrepreneurs et professionnels #tech désireux d’apporter leur aide rapide via la
      technologie. Un mouvement non-lucratif qui permet de créer du lien social dans une démarche de calme et de
      bienveillance.
    </p>
  </section>

  <footer>
    <p>
      ❤️ Made with love to beat Covid-19
    </p>
  </footer>
</div>
<script src="/assets/js/app.js"></script>
</body>
</html>